{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Checkmate Creative</title>
    <link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="./Images/fevicons.png">
    <meta name="description" content="Cubic Digital is a professional SEO Company in Ahmedabad, India helping businesses turn traffic into revenue. With our SEO services get higher ranking in SERP." />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/aboutresponsive.css' %}">
    <!-- bootsrtap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <!-- bootsrtap -->
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body>
          <!-- navbar  -->
          {% include 'Base/navbar.html' %}
        
<!-- end navbar  -->

    <div id="main">
        <div class="opacity-img">

            <img src = "{% static 'images/Header B@2x.png' %}">
                    </div>
        <div class="ab-card">
            <div class="ab-cards cardn1"></div>
            <div class="ab-cards cardn2"></div>
            <div class="ab-cards cardn3"></div>
        </div>
        <div class="content">
            <div class="all-content">
                <div class="all-text">
                    <h1>WE MAKE DIGITAL BEAUTIFUL.</h1>
                    <h3>These Are The Words We Live By In Everything We Do</h3>
                    <p>Every Story We Tell, Every Brand We Build, And Every Interaction We Create Must Not Only Look Beautiful But Has To Feel And Function Beautifully, Too. Crafted To Perfection.</p>
                    <a href="./ui.html"><button class="btni">view more <i class="ri-eye-fill"></i></button></a>
                </div>
            </div>
        </div>
    </div><br><br><br>
    <div id="main2">
      

        <div class="left-imgss">

            <img src = "{% static 'images/left-imggg.png' %}">
                        <div class="ixon">
                <i class="ri-facebook-box-fill"></i>
                <i class="ri-instagram-line"></i>
                <i class="ri-twitter-fill"></i>
                <i class="ri-linkedin-fill"></i>
                <i class="ri-pinterest-fill"></i>
                <i class="ri-youtube-fill"></i>
                <i class="ri-spotify-fill"></i>
            </div>
        </div>
        <div class="right-imgss">
            <h1 id="areu" >Who <br> We Are</h1><br>
            <div  class="lines"></div>
            <br>
            <p>Checkmate Creatives is a one-stop destination where imagination and ideas are brought to life, any and every content-related need is addressed. We pitch in vigorously with novel ideas to lend a hand when you run out of creativity. We are backed by 5+ years of intense work experience, yet our appetite to deliver excellence stimulates more than ever. <br><br> A team of Creative Minds designing Website, graphics and digital marketing plans for the World. At Checkmate Creatives, we make sure that alongside growth of the company, our employees and client grow by providing a great work-life Culture in the Industry. Our team works hand in hand with the client and make sure that the product that they are working on not only becomes success but also leaves an impression on the user being easy to use and keeping in mind the interest of its users.</p>
        </div>
    </div>
    <br><br>

    <div id="main3">
       
            <h1>A Brand - First <br> Creative Agency</h1>
       
            <p>It means that all our solutions begin with brand research and all of our work is catered to enhance and work with the brand at hand. It means we are always exploring the new, always innovating, with a focus on creative storytelling.</p>
        
        </div>
        <br>
        <div class="text-story">
            <h1 class="nones">Story Behind our Beauty</h1><br>
            <h2 class="nones1">Story Behind <br> our Beauty</h2><br>
            <div style="background-color: #f087e9;" class="line"></div>
        </div><br><br>
   
    <!-- <div class="main4">
    <div class="main-nav">
        <a href="#">logo story</a>
        <a href="#">logo formation</a>
    </div>
        <div class="color-img">
            <div class="color-text"></div>
            <div class="color-text"></div>
            <div class="color-text"></div>
            <div class="color-text"></div>
            <div class="color-text"></div>
            <div class="color-text"></div>
            <div class="color-text"></div>
        </div>
    </div> -->
    <br>
   
         <div class="main4">
    <div class="main-nav">
        <a href="#ss">logo story</a>
        <a href="#hh" >logo formation</a>
    </div>
    
    <!-- <div id="formation"></div> -->
        <div class="color-img">
            <div class="color-text">
                
            </div>
            <div class="color-text"></div>
            <div class="color-text"></div> 
             <div class="color-text">
                <p>the word is derived from the famous  game play we <br> know  as chess which is a board game played between <br> two players and was invented in southern europe during <br>  second  half  of  15th century. </p>
             </div>
            <div class="color-text">
                <p>The formation of the logo was crafted using various mathematical formulas where inspiration was taken from the chess board having 64 square arranged in 8x8 grid in a flat square shape. The 64 checkered squares where then crafted into 3 dimensional cubical box format which later on its was crafted into spherical formation of the 64 checkered boxes. All this was done to achieve a Round shaped 64 checkered boxes perfectly into the same formation as we see this in flat chess board. Flat cubical was divided into 8 parts a multiplication of 64 to get perfect formation of C in cubical flat shape.</p>
            </div>
            <div class="color-text">
                <p>The 64 checkered squares where then crafted into 3 dimensional cubical box format which later on its was crafted into spherical formation of the 64 checkered boxes. All this was done to achieve a Round shaped 64 checkered boxes perfectly into the same formation as we see this in flat chess board. Flat cubical was divided into 8 parts a multiplication of 64 to get perfect formation of C in cubical flat shape.</p>
            </div>
            <div class="color-text">
                <i class="ri-arrow-down-s-fill"></i>
            </div>
        </div>
    </div>
    <br><br>
     <div id="main5">
        <div class="manual">

            <img src = "{% static 'images/manualpng.png' %}">
                        <h2>Super Crazy Stuff <br> Just For You</h2>
            <div class="dlink">
                <i class="ri-download-fill"></i>
                <i class="ri-share-fill"></i>
                <i class="ri-links-fill"></i>
            </div>
        </div><br><br>
        <!-- scrolll -->
       
        <section class="carousel">
            <button class="slider-button slider-button-prev" data-slide-direction="prev">&#8592</button>
            <button class="slider-button slider-button-next" data-slide-direction="next">&#8594</button>
            <ul class="slides">
              <li class="slide" data-active-slide>

            <img src = "{% static 'images/theme-crousel.png' %}">
                          </li>
              <li class="slide">

            <img src = "{% static 'images/theme-crousel.png' %}">
                          </li>
              <li class="slide">

            <img src = "{% static 'images/theme-crousel.png' %}">
                          </li>
              <li class="slide">

            <img src = "{% static 'images/theme-crousel.png' %}">
                          </li>
            </ul>
            <div class="slides-circles">
              <div data-active-slide></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </section>
      
        <!-- scrolll -->

     </div> 
     <br><br><br>
     <div id="main6">
        <div class="cr-logo"></div>

            <img src = "{% static 'images/down-tjems.png' %}">
                    <img src="" alt="">
        <div class="text-process">
            <h1>Our Process</h1><br><br>
            <div class="line"></div>
        </div>
        <br><br>
        <div class="pr-card">
            <div class="pr-cards">
                <div class="text-cardss">
                    <h4>Envision</h4>
                    <p>This role is played by our out of the <br> box thinkers who bring in endless <br> propositions.</p>
                </div>
                <div class="icones">

            <img src = "{% static 'images/card-png.png' %}">
                            </div>
                
            </div>
            <div class="pr-cards">
                <div class="text-cardss">
                    <h4>Establish</h4>
                    <p>To conclude a plan, we intensely <br> understand the brand, the culture, <br> the market, and beyond. The idea <br> which fits the best survives.</p>
                </div>
                <div class="iconess">

            <img src = "{% static 'images/card-png-1.png' %}">
                            </div>
            </div>
        </div>
        <div class="pr-card-down">
            <div class="pr-cards">
                <div class="text-cardss">
                    <h4>Execute</h4>
                    <p>It's the plan implementation stage <br> where the best of the bests is carried <br> out  to drive results. Echo</p>
                </div>
                <div class="icones">

            <img src = "{% static 'images/cards-png-3.png' %}">
                            </div>
            </div>
            <div class="pr-cards">
                <div class="text-cardss">
                    <h4>Repeat</h4>
                    <p>from step 1. Why? It is paramount to <br> cautiously monitor the upshots and <br> make periodic alterations to continue <br> seeing the desired results.</p>
                </div>
                <div class="iconess">

            <img src = "{% static 'images/card-png-4.png' %}">
                            </div>
            </div>
        </div>
        <div class="dotss">
        <div class="cirl-img">

            <img src = "{% static 'images/cirline1.png' %}">
                        <img id="rotate-img" src="./Images/Group 40360.svg" alt="">
        </div>
        </div>
        <div class="dotss2">
        <div class="cirl-img">

            <img src = "{% static 'images/cirline1.png' %}">
                        <img id="rotate-img" src="./Images/Group 40360.svg" alt="">
        </div>
        </div>

     </div>
<br><br>
     <div id="main7">
        <div class="bg-mask">
            <h6>IF IT IS</h6>
            <h1>" Content Related " <br> Branding Related <br> Marketing Related</h1><br><br>   
            <h6>it's</h6>
        </div><br><br>
         <div class="mask-card">
            <div class="mask-cards">
                <h3>50+</h3>
                <p>Clients Around the Globe</p>
            </div>
            <div class="mask-cards">
                <h3>500+</h3>
                <p>Successful Projects Delivered</p>
            </div>
            <div class="mask-cards">
                <h3>12+</h3>
                <p>Experienced Digital Experts</p>
            </div>
         </div>
     </div>
<br><br>
     <div id="main8">
        <div class="check-logo">
           <div class="check-img-logo">

            <img src = "{% static 'images/check1.png' %}">
                        <div class="left-line">

            <img src = "{% static 'images/r-png1.png' %}">
                        </div>
            <div class="right-line">

            <img src = "{% static 'images/r-png.png' %}">
                        </div>
           </div>
        </div><br>
        <div class="check-card">
            <div class="check-cards">
                <div class="check-text">
                <h2>Our Vission</h2>
                <div id="lk011" style="background-color: rgba(255, 255, 255, 0.648); " class="line"></div>
                <div id="lks0121" style="background-color: rgba(255, 255, 255, 0.648); display: flex;align-items: center; justify-content: center;" class="line"></div><br>
                <p>We paint the bright future for the <br> businesses working on digital <br> landscapes and firmly believe in  <br> providing productive long-term <br> business relationships.</p>
            </div>

            </div>
            <div style="background-color: #DD00CD;" class="check-cards">
                <div class="check-text">
                    <h2>Our mission</h2>
                    <div id="lk011" style="background-color: rgba(255, 255, 255, 0.648);" class="line"></div>
                    <div id="lks0121" style="background-color: rgba(255, 255, 255, 0.648); display: flex;align-items: center; justify-content: center;" class="line"></div><br>
                    <p>Handover contemporary and futuristic <br> web and digital marketing solutions to <br> the businesses ranging from startups to <br> enterprises with affordability and <br> satisfaction.</p>
                </div>
            </div>
        </div>
     </div>
      <div id="main9">
        <h2 style="font-weight: 800;">Our Values</h2><br>
        <div style="margin: auto;"  class="line"></div><br><br><br>
        <img id="buld-rhe" style="margin-left: 8rem;" src="./Images/our-valuepng.png" alt="">
        <!-- s2scroll -->
           <!-- scrolll -->
       
           <section   class="carousel crousal-the">
            <button id="nst1" style="display: none;" class="slider-button slider-button-prev" data-slide-direction="prev">&#8592</button>
            <button id="nst2" style="display: none;" class="slider-button slider-button-next" data-slide-direction="next">&#8594</button>
            <ul  class="slides smg">
              <li class="slide" data-active-slide>

            <img src = "{% static 'images/screen bulb.png' %}">
                          </li>
              <li  class="slide">

            <img src = "{% static 'images/theme-crousel.png' %}">
                          </li>
              <li class="slide">

            <img src = "{% static 'images/theme-crousel.png' %}">
                          </li>
              <li class="slide">

            <img src = "{% static 'images/theme-crousel.png' %}">
                          </li>
            </ul>
            <div class="slides-circles hwe2" >
              <div data-active-slide></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </section>
      
        <!-- scrolll -->
        <!-- s2scroll -->
    </div><br><br><br><br>

<div id="main10">
    <div class="grow1">
        <h1>Let's Help Your <br> Brand Grow</h1><br>
        <p>You could be a start-up pining for brand recognition or a big player looking for a soaring online presence know that you are at the right place at the right time. Let's connect tellus about your needs - content development, design, or digital marketing, and we'll be delighted to showcase our experience to you.</p>
    </div>
    <div class="grow2">

            <img src = "{% static 'images/circle.png' %}">
                    <img style="width: 320px" class="rockets" src="./Images/rocket.png" alt="">
        <!-- <img class="pinki" src="pinkipinki.png" alt=""> -->
    </div>
    <div class="pinki"></div>
</div>
<br><br>
<div id="main11">
    <div id="page_five">
        <div id="five_heading">
            <!-- <h1>Choose Us</h1> -->
            <!-- <hr> -->
        </div>
        <div id="five_text">
            <h1>We Make Your <br> Business Bright</h1>
            <p>Branding is one of the most important ingredients <br> for the success of any business. So we are <br> here for you…</p>
        </div>
        <div id="post">
            <div id="booka">
                <div id="booking">
                    <i class="ri-file-text-line"></i>
                    <h3>Book A Free Appointment</h3>
                  </div>
            </div>
        <div id="contactt">
            <div id="callus">
                <i class="ri-phone-fill"></i><h3>Call +91 8200493681</h3>
              </div>
        </div>
        
        <div id="post_box">
            <img id="post_b" src="./Images/Mask Group 24.png" alt="">
            <img id="dot" src="./Images/dot.png" alt="">
            <img id="jhaali" src="./Images/Group 39825.png" alt="">
        </div>
        
        </div>
        </div>
</div>

 <!-- footer -->
 <section id="footers">
  <div id="footer">
    <div class="watermarks"></div>
    <div class="watermarks"></div>
    <div class="watermarks"></div>
    <div class="watermarks"></div>
    <div class="watermarks"></div>
    <div class="watermarks"></div>
    <div class="watermarks"></div>
    <div class="watermarks"></div>
    <div class="watermarks"></div>
    <div id="footer_logo">

            <img src = "{% static 'images/logofooter.png' %}">
                </div>
    <div id="link">
        <div id="leak1" class="footer_link">
            <h5>Quick Links</h5>
            <a href="">Home</a>
            <a href="">About Us</a>
            <a href="">Services</a>
            <a href="">Portfolio</a>
            <a href="">Blog</a>
            <!-- <a href="">Contact Us</a>
            <a href="">Book An Appointment</a> -->
            <h6>© 2022 Checkmate</h6>
        </div>
        <div id="leak2"  class="footer_link">
            <h5>Services</h5>
            <a href="">Branding</a>
            <a href=""> Content Marketing</a>
            <a href="">Graphic Designing</a>
            <a href="">Local SEO </a>
            <a href=""> PPC </a> 
        </div>
        <div id="ftr-seo" class="footer_link">
            
            <a href="">SEO</a>
            <a href="">Social Media Marketing</a>
            <a href=""> UI/UX</a>
            <a href=""> Website Designing</a>
            <a href="">Website Development</a>
            <a href="">Contact Us</a>
            <a href="">Book An Appointment</a>
            
        </div>
        <div id="leak3" class="footer_link">
            <h5 id="get">Get in touch</h5>
            <div class="flex-div">
                <i class="ri-map-pin-3-fill"></i>
                <p>904 Shyamvrund Apartments Opposite Dhananjay Tower Shyamal Cross Road Ahmedabad- 380015, Gujrat, India.</p>
            </div>
            <div class="flex-div">
                <i class="ri-phone-fill"></i>
                <div class="flex-rgt">
                    <a href="#">+91 9537895111</a>
                    <a href="#">+91 8200493681</a>
                </div>
            </div>
            <div class="flex-div">
                <i class="ri-mail-line"></i>
                <a href="#">info@checkmatecreatives.com</a>
            </div>
            <div id="social">
                <i class="ri-facebook-box-fill"></i>
                <i class="ri-instagram-fill"></i>
                <i class="ri-twitter-fill"></i>
                <i class="ri-linkedin-box-fill"></i>
                <i class="ri-pinterest-fill"></i>
                <i class="ri-youtube-fill"></i>
                <i class="ri-spotify-fill"></i>
            </div>
        </div>
    </div>
    </div>
 </section>
 <!-- footer -->

      
        <script src="{% static 'js/about.js' %}"></script>
        <script src="{% static 'js/logo.js' %}"></script>
        <script src="{% static 'js/aboutslide.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
     <script src="{% static 'js/navbar.js' %}"></script>
     <script src="{% static 'js/nav2.js' %}"></script>
    </body>
</html>