{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>team</title>
    <link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="./Images/fevicons.png">
    <!-- slick.... -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick-theme.min.css">
    <!-- slick.... -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/team.css' %}">
    <link rel="stylesheet" href="{% static 'css/teamresponsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">

</head>
<body>
   <!-- navbar  -->
   
   {% include 'Base/navbar.html' %}
<!-- end navbar  -->

<div id="team">
    <!-- <div class="team-all-content"> -->
        <div class="left-team">
            <h1 class="crze">OUR <br> CRAZY <br> MINDS</h1>
            <br>
            <h1 style="margin: auto;"  class="crze2">OUR  CRAZY <span id="mindi">MINDS</span> </h1>
            <br>
            <div  class="line" id="lime"></div><br>
            <h4  class="crze">Meet Our <br> Professional Team</h4>
            <h4 class="crze2">Meet Our  Professional Team</h4>
            <br>
            <p>Futuristic Agency That Offers Growth-Centric Digital Marketing Solutions To Businesses Around The Globe. With More Than A Decade Of Experience And A Solid Client Base Across The World, We Are Known For Formulating Proven And Tailor-Made</p>
        </div>
        <div class="right-team">
<!-- 
            <div class="images-upload">
            <div class="images-uploading"></div>

            </div> -->
            <!-- <img src="team-phto-removebg-preview.png" alt=""> -->
         <img id="rstem" src="./Images/imgres-team.png" alt="">
        </div>
    </div>
<!-- </div> -->


<!-- page2 -->
 <div id="team2">
    <!-- <div class="team2-all-ccontent"> -->
        <div class="t2-left">
            <div class="circle-imag"></div>
            <img src="./Images/r-cimge.png" alt="">
            <h6 id="icont2s">Follow Me</h6>
            <div id="icont2s" class="icon-team">
                <i class="ri-facebook-box-fill"></i>
                <i class="ri-instagram-line"></i>
                <i class="ri-twitter-fill"></i>
                <i class="ri-linkedin-fill"></i>
                <i class="ri-pinterest-fill"></i>
                <i class="ri-youtube-fill"></i>
                <i class="ri-spotify-fill"></i>
              </div>
        </div>
        <div class="t2-right">
            <h1>Raksha Maskara</h1><br>
            <h4>Founder, CEO</h4><br>
            <p>It's About Time We Introduce You To The Mastermind Behind Making Checkmate Creatives What It Is. She Most Likely Have Split Personalities – Geeky In Front Of The Workstation, Party Animal Otherwise. In The End, It All Comes Down To Living Life Passionately, Isn't It?</p>
          <br>
            <h6 id="icont2s1">Follow Me</h6>
          <div id="icont2s1" class="icon-team">
            <i class="ri-facebook-box-fill"></i>
            <i class="ri-instagram-line"></i>
            <i class="ri-twitter-fill"></i>
            <i class="ri-linkedin-fill"></i>
            <i class="ri-pinterest-fill"></i>
            <i class="ri-youtube-fill"></i>
            <i class="ri-spotify-fill"></i>
          </div>
        </div>
    </div>
 <!-- </div> -->
<br><br><br>
 <div id="team3">
    <div class="text-heading">
        <h1>LETS MEET <br> <span style="color: #4E17E2;"> OUR TEAM</span> </h1><br>
        <div style="margin-left: rem;" class="line"></div>
    </div>
    <br><br>
    <div class="team-scroll">
       <a href="#2" style="background-color:  #28236E; color: #fff;">All</a>
       <a href="#2">Marketing team</a>
       <a href="#2">designig team</a>
       <a href="#2">seo Team</a>
       <a href="#2">content writing team</a>
       <a href="#2">other team</a>
    </div>

<div class="color-line"></div>
<div class="back-cards">
    <!-- copy -->
    <div id="sec-1">
        <div class="cards">
            <div class="top">
                <img src="./Images/1-member.png" alt="">
                <!-- <i class="ri-bookmark-line"></i> -->
            </div>
            <div class="btm">
                <div class="head-div">
                   
                    <h4>Mayuri Jadhav</h4>
                </div><br>
                <h2>Manager
                    <br>
                   <small> 11+ Years Of Experience</small>
                </h2>
                <div class="flex-div">
                    <div class="lft">
                       <p>I May Appear Strict, But It Is Just Because I Am Meticulous And, Most Importantly, Punctual About My Work With A Problem-Solving Attitude. Managing My Genius Team Makes Me Feel Poised. Other Than This, I Also Love Exploring New Food Joints. I’m A Big Foodie And A Moody.”</p>
                    </div>
                  
                </div>
              
            </div>
        </div>
        <div class="cards">
            <div class="top">
                <img src="./Images/2-member.png" alt="">
                <!-- <i class="ri-bookmark-line"></i> -->
            </div>
            <div class="btm">
                <div class="head-div"><br>
                    <!-- <img class="digi" src="./Images/path 7777.svg" alt=""> -->
                    <h4>Pranay Koshti</h4>
                </div>
                <h2>Manager
                    <br>
                    <small> 11+ Years Of Experience</small>
                </h2>
                <div class="flex-div">
                    <div class="lft">
                      <p>I May Appear Strict, But It Is Just Because I Am Meticulous And, Most Importantly, Punctual About My Work With A Problem-Solving Attitude. Managing My Genius Team Makes Me Feel Poised. Other Than This, I Also Love Exploring New Food Joints. I’m A Big Foodie And A Moody.”</p>
                    </div>
                    
                </div>
                <div class="lftt">
                   
                </div>
                <div class="lftt">
                 
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="top">
                <img src="./Images/3rd-member.png" alt="">
                <!-- <i class="ri-bookmark-line"></i> -->
            </div>
            <div class="btm">
                <div class="head-div"><br>
                    <!-- <img src="./Images/Path 78114.svg" alt=""> -->
                    <h4>Sr. Digital Marketer</h4>
                </div>
                <h2>Sr. Digital Marketer
                    <br>
                    <small> 11+ Years Of Experience</small>
                </h2>
                <div class="flex-div">
                    <div class="lft">
                       <p>I May Appear Strict, But It Is Just Because I Am Meticulous And, Most Importantly, Punctual About My Work With A Problem-Solving Attitude. Managing My Genius Team Makes Me Feel Poised. Other Than This, I Also Love Exploring New Food Joints. I’m A Big Foodie And A Moody.”</p>
                    </div>
                  
                </div>
                <div class="lftt">
                    
                </div>
             
            </div>
        </div>
        <div class="cards">
            <div class="top">
                <img src="./Images/4th-member.png" alt="">
                <!-- <i class="ri-bookmark-line"></i> -->
            </div>
            <div class="btm">
                <div class="head-div"><br>
                    <!-- <img class="digi" src="./Images/path 7777.svg" alt=""> -->
                    <h4>Subhasini Naicker</h4>
                </div>
                <h2>Content Writer
                    <br>
                    <small> 11+ Years Of Experience</small>
                </h2>
                <div class="flex-div">
                    <div class="lft">
                        <p>I May Appear Strict, But It Is Just Because I Am Meticulous And, Most Importantly, Punctual About My Work With A Problem-Solving Attitude. Managing My Genius Team Makes Me Feel Poised. Other Than This, I Also Love Exploring New Food Joints. I’m A Big Foodie And A Moody.”</p>
                    </div>
                   
                </div>
              
                <div class="lftt">
                  
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="top">
                <img src="./Images/1-member.png" alt="">
                <!-- <i class="ri-bookmark-line"></i> -->
            </div>
            <div class="btm">
                <div class="head-div"><br>
                    <!-- <img src="./Images/Path 78114.svg" alt=""> -->
                    <h4>Mayuri Jadhav</h4>
                </div>
                <h2>Manager
                    <br>
                    <small> 11+ Years Of Experience</small>
                </h2>
                <div class="flex-div">
                    <div class="lft">
                       <p>I May Appear Strict, But It Is Just Because I Am Meticulous And, Most Importantly, Punctual About My Work With A Problem-Solving Attitude. Managing My Genius Team Makes Me Feel Poised. Other Than This, I Also Love Exploring New Food Joints. I’m A Big Foodie And A Moody.”</p>
                    </div>
                
                </div>
                
                
            </div>
        </div>
        <div class="cards">
            <div class="top">
                <img src="./Images/2-member.png" alt="">
                <!-- <i class="ri-bookmark-line"></i> -->
            </div>
            <div class="btm">
                <div class="head-div"><br>
                    <!-- <img class="digi" src="./Images/path 7777.svg" alt=""> -->
                    <h4>Pranay Koshti</h4>
                </div>
                <h2>Manager
                    <br>
                    <small> 11+ Years Of Experience</small>
                </h2>
                <div class="flex-div">
                    <div class="lft">
                       <p>I May Appear Strict, But It Is Just Because I Am Meticulous And, Most Importantly, Punctual About My Work With A Problem-Solving Attitude. Managing My Genius Team Makes Me Feel Poised. Other Than This, I Also Love Exploring New Food Joints. I’m A Big Foodie And A Moody.”</p>
                    </div>
                  
                </div>
              
                
            </div>
        </div>
        <div class="cards">
            <div class="top">
                <img src="./Images/3rd-member.png" alt="">
             
            </div>
            <div class="btm">
                <div class="head-div"><br>
                    <!-- <img src="./Images/Path 78114.svg" alt=""> -->
                    <h4>Krunal Koshti</h4>
                </div>
                <h2>Sr. Digital Marketer
                    <br>
                    <small> 11+ Years Of Experience</small>
                </h2>
                <div class="flex-div">
                    <div class="lft">
                      <p>I May Appear Strict, But It Is Just Because I Am Meticulous And, Most Importantly, Punctual About My Work With A Problem-Solving Attitude. Managing My Genius Team Makes Me Feel Poised. Other Than This, I Also Love Exploring New Food Joints. I’m A Big Foodie And A Moody.”</p>
                    </div>
                 
                </div>
                
               
        </div>
        
        </div>
    </div>
    <!-- copy -->
</div>
<br>
<button id="team-button">View All</button>

 </div>
<br><br><br>
 <div id="team4">
    <div class="text-heading">
        <h1>WE PROMISE</h1><br>
        <div style="margin-left: rem;" class="line"></div>
        <p>to create intelligent experiences that redefine the relationship between your brand and customers.</p>
    </div>
    <div class="percent-parent">
        <!-- <img src="/pexels-gradienta-7135121@2x.png" alt=""> -->
        <div class="percent-circle">100% <br><br><h5>DEDICATION</h5> </div>
        <div class="percent-circle">100% <br><br> <h5>ACCURACY</h5> </div>
        <div class="percent-circle">100% <br><br> <h5>GROWTH</h5></div>
        <div class="percent-circle">100% <br><br> <h5>SATISFACTION</h5></div>
        <!-- <div class="percet-name">
            <a href="#">DEDICATION</a>
            <a href="#">ACCURACY</a>
            <a href="#">GROWTH</a>
            <a href="#">SATISFACTION</a>
        </div> -->
    </div>
 </div>
 <!-- <div id="team5"></div> -->
    <!-- footer -->
   <section id="footers">
    <div id="footer">
      <div class="watermarks"></div>
      <div class="watermarks"></div>
      <div class="watermarks"></div>
      <div class="watermarks"></div>
      <div class="watermarks"></div>
      <div class="watermarks"></div>
      <div class="watermarks"></div>
      <div class="watermarks"></div>
      <div class="watermarks"></div>
      <div id="footer_logo">
          <img src="./Images/logofooter.png" alt="">
      </div>
      <div id="link">
          <div id="leak1" class="footer_link">
              <h5>Quick Links</h5>
              <a href="">Home</a>
              <a href="">About Us</a>
              <a href="">Services</a>
              <a href="">Portfolio</a>
              <a href="">Blog</a>
              <!-- <a href="">Contact Us</a>
              <a href="">Book An Appointment</a> -->
              <h6>© 2022 Checkmate</h6>
          </div>
          <div id="leak2"  class="footer_link">
              <h5>Services</h5>
              <a href="">Branding</a>
              <a href=""> Content Marketing</a>
              <a href="">Graphic Designing</a>
              <a href="">Local SEO </a>
              <a href=""> PPC </a> 
          </div>
          <div id="ftr-seo" class="footer_link">
              
              <a href="">SEO</a>
              <a href="">Social Media Marketing</a>
              <a href=""> UI/UX</a>
              <a href=""> Website Designing</a>
              <a href="">Website Development</a>
              <a href="">Contact Us</a>
              <a href="">Book An Appointment</a>
              
          </div>
          <div id="leak3" class="footer_link">
              <h5 id="get">Get in touch</h5>
              <div class="flex-div">
                  <i class="ri-map-pin-3-fill"></i>
                  <p>904 Shyamvrund Apartments Opposite Dhananjay Tower Shyamal Cross Road Ahmedabad- 380015, Gujrat, India.</p>
              </div>
              <div class="flex-div">
                  <i class="ri-phone-fill"></i>
                  <div class="flex-rgt">
                      <a href="#">+91 9537895111</a>
                      <a href="#">+91 8200493681</a>
                  </div>
              </div>
              <div class="flex-div">
                  <i class="ri-mail-line"></i>
                  <a href="#">info@checkmatecreatives.com</a>
              </div>
              <div id="social">
                  <i class="ri-facebook-box-fill"></i>
                  <i class="ri-instagram-fill"></i>
                  <i class="ri-twitter-fill"></i>
                  <i class="ri-linkedin-box-fill"></i>
                  <i class="ri-pinterest-fill"></i>
                  <i class="ri-youtube-fill"></i>
                  <i class="ri-spotify-fill"></i>
              </div>
          </div>
      </div>
      </div>
   </section>
   <!-- footer -->
          
 <!-- slick -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 <script src="https//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.js"></script>
 <!-- slick -->
        <script src="{% static 'js/team.js' %}"></script>
        <script src="{% static 'js/team.js' %}"></script>
        
        <script src="{% static 'js/nav2.js' %}"></script>
</body>
</html>