@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

html, 
body {
    
    width: 100%;
    height: 100%;
    font-family: Poppins;
   
}


#service{
   
    height: 100%;
    width: 100%;
    /* background-color: #4E17E2; */
    /* z-index: -1; */
}

#service img{
    height: 80%;
    width: 100%;
    margin-top: 7em;
}
#ser-none1{
    display: none;
}
.ser-main{
    position: absolute;
    top: 15%;
   left: 13%;
   /* z-index: -1; */
   font-size: 1.3rem;
}
.ser-main h1{
    text-align: center;
    position: relative;
    z-index: -1;
}
.ser-main h4{
    text-align: center;
    font-size: 1.6rem;
    margin-top: 1rem;
}

.sec-1 {
    width: 100%;
    min-height: 100vh;
    /* background-color: #4E17E2; */
    position: relative;
z-index: -1;
}


.slct-srvc .services {
    width: 100%;
    display: flex;
    margin-top: 1em;
    gap: 1em;
    /* position: absolute; */
    background-color: ;
}

.services .elems {
    padding: 50px 1.5em;
    width: 272px;
    height: 70px;
    border-radius: 10px;
    background-color: #EAF3FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.elems .elems-lft {
    display: flex;
    align-items: center;
    gap: 1.5em;
}
.elems:hover{
    /* position: relative; */
    background-color:#28236E;
    color: #fff;
}
/* a */
.elems-lft h3 {
    font-size: 14px;
    font-weight: 500;
}
/* .elems-lft h3:hover {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
} */

.elems input {
    width: 20px;
    height: 20px;
    display: none;
}
.elems-lft i{
    font-size: 29px;
    /* color: #28236E; */
}

.slct-srvc #frst-srvc {
    margin-top: 3em;
}

.services .elems input[type= "radio"]:checked + .elems::after {
    background-color: blue;
}

.services .elems input[type= "radio"]:checked + .elems {
    background-color: red;
}

