{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>contact</title>
	<link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="./Images/fevicons.png">
	<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet"> 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	<link rel="stylesheet" href="{% static 'css/contact.css' %}">
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
	<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

</head>
<body>
  <div id="main">
	 <!-- navbar  -->
   
		 <!-- Navbar-container -->
		 <div id="overlay">
			<!-- <section class="navigation"> -->
				<div class="nav-container">
					<div class="brand">
						<!-- hh -->
					   </div>
					   <!-- <img src="logo@2x.png" alt=""> -->
				   <nav>
					   <!-- <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div> -->
				   <ul class="nav-list">
					 <div style="height: 1px; width: 345px; background-color: black;" class="single-line"></div>
					 <li>
					   <a href="./index.html">Home</a>
					 </li>
					 <div style="height: 1px; width: 345px; background-color: black;" class="single-line"></div>
					 <li>
					   <a id="about" href="#!">About</a>
					   <ul id="abc" class="nav-dropdown">
						   
						   <div style="height: 1px; width: 345px; background-color: black;" class="single-line"></div>
						   <li>
							 <a href="./about.html">About Us</a>
						   </li>
						  
						   <div style="height: 1px; width: 345px; background-color: black;" class="single-line"></div>
						   <li>
							 <a href="./team.html">Our Team</a>
						   </li>
						 
						 </ul>
					 </li>
					 <div style="height: 1px; width: 345px; background-color: black;" class="single-line"></div>
					 <li>
					   <a id="servicess" href="#!">Services</a>
					   <div style="height: 1px; width: 345px; background-color: black;" class="single-line"></div>
					   <ul id="srb" class="nav-dropdown">
						 <li>
						   <a href="./service.html">Service</a>
						 </li>
						
						 <div style="height: 1px; width: 345px; background-color: black;" class="single-line"></div>
						 <li>
						   <a href="#!" id="content01">Content Writing</a>
						 </li>
						 <div style="height: 1px; width: 345px; background-color: black;" class="single-line"></div>
						 <li>
						   <a href="#!">Guest Posting</a>
						 </li>
						 <div style="height: 1px; width: 345px; background-color: black;" class="single-line"></div>
						 <li>
						   <a href="#!">Google Ads</a>
						 </li>
						 <div style="height: 1px; width: 345px; background-color: black;" class="single-line"></div>
						 <li>
						   <a href="./seo.html">SEO</a>
						 </li>
						 <div style="height: 1px; width: 345px; background-color: black;" class="single-line"></div>
						 <li>
						   <a href="./ui.html">UI & UX</a>
						 </li>
						 <div style="height: 1px; width: 345px; background-color: black;" class="single-line"></div>
						
						 <div style="height: 1px; width: 345px; background-color: black;" class="single-line"></div>
						 <li>
						   <a href="#!">Website Designing</a>
						 </li>
						 <div style="height: 1px; width: 345px; background-color: black;" class="single-line"></div>
						
						 <div style="height: 1px; width: 345px; background-color: black;" class="single-line"></div>
						 <li>
						   <a href="./digital.html">Social Media Marketing</a>
						 </li>
						 <div style="height: 1px; width: 345px; background-color: black;" class="single-line"></div>
					   </ul>
					 </li>
					
					 <li>
					   <a href="./portfolio.html">Portfolio</a>
					  
					 </li>
					 <div style="height: 1px; width: 345px; background-color: black;" class="single-line"></div>
					 <li>
					  <a href="./mainblog.html">Blog</a>
					 </li>
					 <div style="height: 1px; width: 345px; background-color: black;" class="single-line"></div>
					 <li>
					   <a href="#">Contact Us</a>
					 </li>
					 <div style="height: 1px; width: 345px; background-color: black;" class="single-line"></div>
				   </ul>
				 </nav>
				 
			   </div>
			 <!-- </section> -->
		   <i id="close" class="ri-close-line"></i>

		   <div class="n-follow-icon">
			 <h6>Follow Us</h6>
			 <!-- <br> -->
			 <a href="#"><i class="ri-facebook-box-fill"></i></a>
			 <a href="#">  <i class="ri-instagram-line"></i></a>
		   <a href="#"> <i class="ri-twitter-fill"></i></a>
		   <a href="#"> <i class="ri-linkedin-fill"></i></a>
		   <a href="#"> <i class="ri-pinterest-fill"></i></a>
		   <a href="#">  <i class="ri-youtube-fill"></i></a>
		   <a href="#"> <i class="ri-spotify-fill"></i></a>
		   <h6>@2022 Checkmatecreatives</h6>
		   </div>
	   </div>
	   <div id="nav">
		   <div class="nav-lft">
			   <i onclick="abc()" class="ri-menu-line"></i>
			  <img id="nav_logo" src="./Images/logo@2x.png" alt="">
		   </div>
		   <div class="nav-rgt">
			   <i class="ri-search-2-line"></i>
			   <i class="ri-calendar-check-fill"></i>
		   </div>
		   <a href="./index.html">Home</a>
		   <!-- <a href="#">About Us</a> -->
		   <div class="dropdown">
			<a class="dropbtn" href="./about.html">About Us</a>
			 <div  class="dropdown-content">
			   <a href="#" style="color: #fff;">Known Us</a>
			   <a href="./team.html" style="color: #fff;">Our Team</a>
			   <!-- <a href="#">Link 3</a> -->
			 </div>
		   </div>
		   <!-- <a href="#">Services</a> -->
		
		   <div style=" font-weight: 100; border-bottom: none;" class="dropdown">
			 <a class="dropbtn" href="./service.html">Services</a>
			  <div style="height: 270px; font-size: 9.5px; font-weight: 400;" class="dropdown-content">
				
				<a href="#" style="color: #fff;" id="content01">Content Writing</a>
				<a href="#" style="color: #fff;">Guest Posting</a>
				<a href="#" style="color: #fff;">Google Ads</a>
				<a href="./seo.html" style="color: #fff;">SEO</a>
				<a href="./ui.html" style="color: #fff;">UI & UX</a>
				
				<a href="#" style="color: #fff;">Website Designing</a>
				
				<a href="./digital.html" style="color: #fff;">Social Media Marketing</a>
				
			  </div>
			</div>
		   <a href="./portfolio.html">Portfolio</a>
		   <a href="./mainblog.html">Blog</a>
		   <a href="./contact.html">Contact Us</a>
		   <form action="action_page">
			   <input style="height:40px; width:202px; margin-top: -2rem;" type="search" id="search" name="search" placeholder="Search"><i style="right: 1rem; margin-top: 0.5rem;" class="ri-search-line"></i>
		   </form>
		   <a href="./appointment.html">
			
		   <button style="height:42px " class="btnmm" >Book  A Free consultancy</button>
	   </a>
	   </div>
 <!-- end navbar  -->
   <div class="contact">

	   <div class="left1">
		   <div class="form-div">
			<div class="text">
				<h4>get in  touch</h4>
				<div class="lite"></div>
				<div class="arroww">

		<img src = "{% static 'images/Vector@2x.png' %}">
							</div>
				<div class="text2">
					<h2>let's level up  your <br> brand together</h2>
				</div>
			</div>
 <!-- form -->

 <form method="post" >
<label for="">First Name</label><br>
<input name = "first_name" id="inp" class="first" type="text" placeholder="First Name">
<label for="" class="last">Last Name</label>
<input name = "last_name" id="inpu" class="firsts" type="text" placeholder="Last Name"><br>

<label for="">Email</label><br>
<input name = "email" id="same" type="email" placeholder="Enter Your Email"><br>

<label for=""  class="numbersss">Mobile Number</label><br>
<select name = "code" name="" id="selecteds">
<option value="">IND</option>
<option value="">USA</option>
<option value="">USA</option>
</select><br>
<input name="number" class="mobile" id="inpu" type="text" placeholder="Enter Your Mobile Number"><br>
<label >How Can Be Help You</label><br><br>
 <textarea name="message" id="area" cols="0" rows="0" placeholder="Write something..."></textarea>

 <button type="submit">Send Message</button>
</form> 
 <!-- form -->
		</div>
	   </div>
	   <div class="right1">
		<div class="photo-div">


		<img src = "{% static 'images/Group 812.svg' %}">
					</div>
	   </div>
   </div>
	   
	</div>
	<section id="main2">
		<div class="text">
			<h5>come closer</h5>
			<div class="lite"></div>
		   
			<div class="text2">
				<p>We would love to hear from you, <br> Our friendly team is always here to connect with you</p>
			</div>
		</div>

 
		<div id="card">
			<div class="cards">
				
				<div class="round"><i class="fa-solid fa-map-pin"></i></div>
				<div class="bigtext">
					<h3>office</h3>
					<h6>Come Say hello at <br> our office HQ</h6>
					<h5>904 Shyamvrund Apartments Opposite Dhananjay Tower  Shyamal Cross Road  Ahmedabad – 380015, Gujarat, INDIA.</h5>
					<a href="#">Get Direction <i class="ri-arrow-right-up-line"></i></a>
				</div>
			</div>
			<div class="cards">
				<div class="round"><i class="ri-phone-line"></i></div>
				<div class="bigtext">
					<h3>Phone</h3>
					<h6>Mon-Fri from <br> 9am to 7pm</h6>
					<h5>+91 9537895111 <br> +91 8200493681</h5>
					<a href="#"></a>
				</div>
			</div>
			<div class="cards">
				<div class="round"><i class="ri-mail-fill"></i></div>
				<div class="bigtext">
					<h3>Chat  To Us</h3>
					<h6>Our friendly team  <br> is here to help</h6>
					<h5>info@checkmatecreatives.com</h5>
					<a href="#"></a>
				</div>
			</div>
			<div class="cards">
				<div class="round"><i class="ri-user-3-line"></i></div>
				<div class="bigtext">
					<h3>Follow Us</h3>
					<h6>Let's build our connection <br> even stronger</h6>
					<div class="iconn">

				  <a href="#">
					<i class="ri-facebook-circle-fill">

				  </i> <i class="ri-instagram-line"></i> 
				  <i class="ri-twitter-fill"></i>
				   <i class="ri-linkedin-fill">
					<br>

				  </i> <i class="ri-pinterest-fill"></i> 
				  <i class="ri-youtube-fill"></i>
				</a>
				</div>
					<!-- <h5></h5> -->
				</div>
			</div>

		</div>
	</section>
	<footer>
		<div id="footer">
			<div class="watermarks"></div>
			<div class="watermarks"></div>
			<div class="watermarks"></div>
			<div class="watermarks"></div>
			<div class="watermarks"></div>
			<div class="watermarks"></div>
			<div class="watermarks"></div>
			<div class="watermarks"></div>
			<div class="watermarks"></div>
			<div id="footer_logo">

		<img src = "{% static 'images/Layer_x0020_1.png' %}">
						</div>
			<div id="link">
				<div class="footer_link">
					<h5>Quick Links</h5>
					<a href="">Home</a>
					<a href="">About Us</a>
					<a href="">Services</a>
					<a href="">Portfolio</a>
					<a href="">Blog</a>
					<a href="">Contact Us</a>
					<a href="">Book An Appointment</a>
					<h6>© 2022 Checkmate</h6>
				</div>
				<div class="footer_link">
					<h5>Services</h5>
					<a href="">Branding</a>
					<a href=""> Content Marketing</a>
					<a href="">Graphic Designing</a>
					<a href="">Local SEO </a>
					<a href=""> PPC </a> 
				</div>
				<div id="ftr-seo" class="footer_link">
					
					<a href="">SEO</a>
					<a href="">Social Media Marketing</a>
					<a href=""> UI/UX</a>
					<a href=""> Website Designing</a>
					<a href="">Website Development</a>
					
				</div>
				<div class="footer_link">

		<img src = "{% static 'images/contact onboard.png' %}">
								<!-- <img id="img22" src="./image.png/Mask Group 24.png" alt=""> -->
					<!-- <h5 id="get">Get in touch</h5>
					<div class="flex-div">
						<i class="ri-map-pin-3-fill"></i>
						<p>904 Shyamvrund Apartments Opposite Dhananjay Tower Shyamal Cross Road Ahmedabad- 380015, Gujrat, India.</p>
					</div>
					<div class="flex-div">
						<i class="ri-phone-fill"></i>
						<div class="flex-rgt">
							<a href="#">+91 9537895111</a>
							<a href="#">+91 8200493681</a>
						</div>
					</div>
					<div class="flex-div">
						<i class="ri-mail-line"></i>
						<a href="#">info@checkmatecreatives.com</a>
					</div>
					<div id="social">
						<i class="ri-facebook-box-fill"></i>
						<i class="ri-instagram-fill"></i>
						<i class="ri-twitter-fill"></i>
						<i class="ri-linkedin-box-fill"></i>
						<i class="ri-pinterest-fill"></i>
						<i class="ri-youtube-fill"></i>
						<i class="ri-spotify-fill"></i>
					</div> -->
				</div>
			</div>
</div>
	   </footer>
	   <script src="contact.js"></script>
	   <script src="./nav2.js"></script>
	<script src="./navbar.js"></script>
</body>
</html>